@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: radial-gradient(rgb(180, 251, 218) 2.5px, transparent 2.5px), radial-gradient(#ffffff 2.5px, transparent 2.5px);
  background-size: 36px 36px;
  background-position: 0 0, 18px 18px;
  background-color: #ffffff;
}
.backgroundb {
   background-image: radial-gradient(rgb(13, 51, 34) 2.5px, transparent 2.5px), radial-gradient(rgb(13, 51, 34) 2.5px, transparent 2.5px);
   background-size: 36px 36px;
   background-position: 0 0, 18px 18px;
   background-color: #000000;
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
